.menu-bar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;

    display: flex;
    height: 70px;
    padding-right: 15%;

    background-color: var(--color-accent);
}

.menu-bar-title {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: fit-content;
    margin-left: 50px;
    margin-right: 50px;

    font-size: 35px;
    color: var(--color-text-inv);
}

.menu-bar-tiles {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.menu-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-width: 120px;
    margin: 0px 2px 0px 2px;

    font-size: 20px;
    color: white;
}

.menu-tile:hover {
    background-color: var(--color-highlight);
    cursor: pointer;
}