@import "./app/ui/src/menu-bar/menu-bar.css";
@import "./app/ui/src/section/section.css";

@font-face {
    font-family: 'Roboto';
    src: url('./app/assets/fonts/Roboto/Roboto-Light.ttf');
}

:root {
    --text-small: 15px;
    --text-large: 18px;
    --text-larger: 25px;
    --text-title: 35px;

    --color-accent: #A03000;
    --color-text: #505050;
    --color-highlight: #C0501A;
}

body {
    margin: 0px;

    color: var(--color-text);
    font-family: Roboto;
    font-size: 18px; 
}

.text-small {
    font-size: var(--text-small);
}

.text-color-accent {
    color: var(--color-accent);
}

.text-link {
    color: var(--color-accent);
    text-decoration: none;
    cursor: pointer;
}

.text-link:hover {
    color: var(--color-highlight);
    text-decoration: underline;
}