@import "./app/ui/src/menu-bar/menu-bar.css";
@import "./app/ui/src/section/section.css";
@import "./app/screens/src/home-screen/home-screen.css";
@import "./app/ui/src/footer/footer.css";

@font-face {
    font-family: "Roboto Light";
    src: url("./assets/fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: "Roboto Regular";
    src: url("./assets/fonts/Roboto/Roboto-Regular.ttf");
}

:root {
    --text-small: 15px;
    --text-large: 21px;
    --text-larger: 25px;
    --text-title: 35px;

    --color-accent: #a03000;
    --color-text: #505050;
    --color-text-inv: white;
    --color-highlight: #c0501a;

    --banner-height: 70px;
}

body,
html {
    height: 100%;
    margin: 0;

    color: var(--color-text);
    font-family: "Roboto Light";
    font-size: 18px;
}

.text-small {
    font-size: var(--text-small);
}

.text-color-accent {
    color: var(--color-accent);
}

.text-color-text-inv {
    color: var(--color-text-inv);
}

.text-link {
    text-decoration: none;
    cursor: pointer;
}

.text-link:hover {
    text-decoration: underline;
}

.content {
    min-height: calc(100vh - 2 * var(--banner-height));
}
