on: 
  push:
    branches:
      - release

name: Nitrado build and deploy
jobs:
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - name: Get latest code
      uses: actions/checkout@v2.3.2

    - name: Use Node.js 12
      uses: actions/setup-node@v2-beta
      with:
        node-version: '12'
      
    - name: Build Project
      run: |
        npm install
        npm run build
    
    - name: Sync files
      uses: SamKirkland/FTP-Deploy-Action@4.0.0
      with:
        server: wagnrd.de
        username: ni816240_1ftp1
        password: ${{ secrets.password }}
        local-dir: ./build/release/
        exclude: '.ftpquota, .htaccess'